<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="application/ecmascript" src="/static/main.js"></script>
    <link rel="icon" type="image/png" href="/static/fav.png">
</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">
            <span class="font-weight-bold" id="navbarText"></span>
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link link-secondary" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="col-2"></div>
</div>
<!-- End nav bar -->
<div class="row">
    <div class="d-flex align-items-start">
        <!-- Pills tab-->
        <div class="col-2 pt-3">
            <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="Admin" data-bs-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link" id="User" data-bs-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <!-- End pills tab-->
        <div class="col-10 vh-100 pt-3 bg-light">
            <!-- Pills content admin -->
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <h1 class="px-4">Admin panel</h1>
                    <div class="container">
                        <!-- Nav tabs -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link link-primary active" id="nav-admin-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-admin" type="button" role="tab"
                                        aria-controls="nav-userTable"
                                        aria-selected="true">Users table
                                </button>
                                <button class="nav-link link-primary" id="nav-user-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-user" type="button" role="tab"
                                        aria-controls="nav-newUser" aria-selected="false">New User
                                </button>
                            </div>
                        </nav>
                        <!-- End nav tabs -->
                        <div class="tab-content" id="nav-tabContent">
                            <!-- Nav tab admin -->
                            <div class="tab-pane fade show active" id="nav-admin" role="tabpanel"
                                 aria-labelledby="nav-admin-tab">
                                <table class="table table-bordered">
                                    <thead class="table-light">
                                    <tr>
                                        <th><h5 class="px-2">All users</h5></th>
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white">
                                    <tr>
                                        <td colspan="4">
                                            <table class="table table-borderless table-striped p-4 userTable" id="refTable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Edit</th>
                                                    <th scope="col">Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody id="importTable">
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End nav tab admin -->
                            <!-- Tab pane user -->
                            <div class="tab-pane fade" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                                <table class="table table-bordered">
                                    <thead class="table-light">
                                    <tr>
                                        <th><h5>Add new user</h5></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="4" class="bg-white">
                                            <form class="formNewUser" method="post"
                                                  th:action="@{/admin/add}">
                                                <div class="row pt-1">
                                                    <h6 class="text-center"><strong>First name</strong></h6>
                                                    <div class="col-4 mx-auto">
                                                        <input type="text" id="inputName"
                                                               class="form-control form-control-sm" name="name"
                                                               placeholder="First name">
                                                    </div>
                                                </div>
                                                <div class="row pt-1">
                                                    <h6 class="text-center"><strong>Last name</strong></h6>
                                                    <div class="col-4 mx-auto">
                                                        <input type="text" id="inputLastName"
                                                               class="form-control form-control-sm" name="lastName"
                                                                placeholder="Last name">
                                                    </div>
                                                </div>
                                                <div class="row p-1">
                                                    <h6 class="text-center"><strong>Age</strong></h6>
                                                    <div class="col-4 mx-auto">
                                                        <input type="number" id="inputAge"
                                                               class="form-control form-control-sm" name="age"
                                                               placeholder="Age">
                                                    </div>
                                                </div>
                                                <div class="row p-1">
                                                    <h6 class="text-center"><strong>Email</strong></h6>
                                                    <div class="col-4 mx-auto">
                                                        <input type="email" id="inputEmail"
                                                               class="form-control form-control-sm" name="username"
                                                                placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="row p-1">
                                                    <h6 class="text-center"><strong>Password</strong></h6>
                                                    <div class="col-4 mx-auto">
                                                        <input type="password" id="inputPass"
                                                               class="form-control form-control-sm" name="password"
                                                               placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="row p-1">
                                                    <h6 class="text-center"><strong>Role</strong></h6>
                                                    <div class="col-4 mx-auto">
                                                        <select class="form-select form-select-sm" size="2"
                                                                id="newUserRole" multiple>
                                                        </select>
                                                    </div>
                                                </div>
                                                <p>
                                                <div class="d-grid gap-2 col-2 mx-auto">
                                                    <button type="submit" id="newBtn" class="btn btn-success btn-lg">Add new user
                                                    </button>
                                                </div>
                                                </p>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--End tab pane user -->
                    </div>
                </div>
                <!--End pills content admin -->
                <!--Pills content user -->
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <h1 class="px-4">User information-page</h1>
                    <div class="container">
                        <table class="table table-bordered">
                            <thead class="table-light">
                            <tr>
                                <th><h5 class="px-2">About user</h5></th>
                            </tr>
                            </thead>
                            <tbody class="bg-white">
                            <tr>
                                <td colspan="4">
                                    <table class="table table-borderless table-striped p-1">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody id="principalTable">
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End pills content user -->
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade col-7" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="row pt-1">
                    <h6 class="text-center"><strong>ID</strong></h6>
                    <div class="col-6 mx-auto">
                        <input type="text" id="inputIdEdit" name="id" class="form-control form-control-sm"  readonly>
                    </div>
                </div>
                <div class="row pt-1">
                    <h6 class="text-center"><strong>First name</strong></h6>
                    <div class="col-6 mx-auto">
                        <input type="text" id="inputNameEdit" name="name" class="form-control form-control-sm modInput" >
                    </div>
                </div>
                <div class="row pt-1">
                    <h6 class="text-center"><strong>Last name</strong></h6>
                    <div class="col-6 mx-auto">
                        <input type="text" id="inputLastNameEdit" name="lastName" class="form-control form-control-sm modInput" value="" >
                    </div>
                </div>
                <div class="row p-1">
                    <h6 class="text-center"><strong>Age</strong></h6>
                    <div class="col-6 mx-auto">
                        <input type="number" id="inputAgeEdit" name="age" class="form-control form-control-sm modInput" value="" >
                    </div>
                </div>
                <div class="row p-1">
                    <h6 class="text-center"><strong>Email</strong></h6>
                    <div class="col-6 mx-auto">
                        <input type="email" id="inputEmailEdit" name="username" class="form-control form-control-sm modInput" value="" >
                    </div>
                </div>
                <div class="row p-1">
                    <h6 class="text-center"><strong>Password</strong></h6>
                    <div class="col-6 mx-auto">
                        <input type="password" id="inputPassEdit" name="password" class="form-control form-control-sm modInput" value="">
                    </div>
                </div>
                <div class="row p-1">
                    <h6 class="text-center"><strong>Role</strong></h6>
                    <div class="col-4 mx-auto">
                        <select class="form-select form-select-sm" size="2" id="roleEdit" name="roles" value="" multiple>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="modalButton" class="btn"></button>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        getTableUser();
        getPrincipal('admin/principal');
        $('#newBtn').on( 'click', async function (event) {     // new user
            event.preventDefault();
            await createNewUser()
        });

        $('#importTable').on('click', '.modBtn', async function (event) { // show modal
            event.preventDefault();
            let href = $(this).attr('href');
            let button = this;
            await getModal(href, button)
        });

        $('#myModal').on('click', '.editBtn',async function(event) { // edit user
            event.preventDefault();
            await editUser();
        });

        $('#myModal').on('click', '.delBtn', async function (event) {
            event.preventDefault();
            await deleteUser();
        });
    });
</script>

</body>
</html>
</html>